@import url("https://fonts.googleapis.com/css2?family=REM:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1437751059337-ea72d4f73fcf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=861&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 2rem 3rem;
  font-family: "REM", sans-serif;
  /* border: 2px solid red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  /* border: 2px solid red; */
}

h2 {
  font-size: 2.5rem;
  /* border: 2px solid red; */
}

.pages {
  display: flex;
  gap: 3rem;
  font-size: 1.4rem;
  margin-right: 12rem;
  /* border: 2px solid red; */
}

button {
  background-color: darkorange;
  font-family: "REM", sans-serif;
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  /* border: 2px solid red; */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 210rem;
  text-align: center;
  /* border: 2px solid red; */
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

a {
  font-size: 3rem;
  font-family: "REM", sans-serif;
  text-decoration: none;
  color: white;
}

.toggle_btn {
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}

/* hover properties */

.navbar > button:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

a:hover {
  color: darkorange;
  transform: scale(1.1);
  transition: 0.2s ease;
}

a:active {
  scale: 0.9;
}

span:hover {
  color: darkorange;
  cursor: pointer;
}

/* Dropdown Menu */

.dropdown_menu {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* position: absolute;
  right: 2rem;
  top: 6rem; */
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.5rem);
  padding: 1.5rem 0.7rem 0.7rem 0.7rem;
  border-radius: 2rem;
  overflow: hidden;
  display: none;
}

.dropdown_menu span {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.dropdown_menu button {
  padding: 0.7rem;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 94%;
  /* text-align: center; */
  margin: 1rem;
  font-size: 1.5rem;
}

.close_btn {
  display: none;
  position: absolute;
  top: 8rem;
  right: 4.2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

/* RESPONSIVE DESIGN */

@media all and (max-width: 700px) {
  .pages,
  .navbar > button {
    display: none;
  }

  .toggle_btn {
    display: block;
  }
}
